<html>

<body>

    <table style="border:1px solid black;">
        <tr>
            <td>Id</td>
            <td>Título</td>
            <td>Descricao</td>
            <td>Preço</td>
        </tr>
        <% for (var i = 0; i < lista.length; i ++) { %>
            <tr>
                <td><%= lista[i].id %></td>
                <td><%= lista[i].titulo %></td>
                <td><%= lista[i].descricao %></td>
                <td><%= lista[i].preco %></td>
            </tr>
        <% } %>
    </table>

</body>

</html>
