<html>

<body>

    <table style="border:1px solid black;">
        <tr>
            <td>id</td>
            <td>nome</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Livro de Node JS</td>
        </tr>
    </table>

</body>

</html>
